{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AI Code Engine</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="{% static 'prism/prism.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="layout">
            <div class="history" id="history"></div>
                <div class="container">
                    <h1>Local Coding Engine</h1>
                    <div class="textarea-wrapper">
                        <textarea id="prompt" placeholder="the function you need..."></textarea>
                        <button id="clearBtn" class="clear-btn" aria-label="Clear">
                            <svg viewBox="0 0 24 24" width="16" height="16">
                                <path d="M6 6 L18 18 M18 6 L6 18" 
                                    stroke="currentColor" 
                                    stroke-width="2" 
                                    stroke-linecap="round"/>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="controls">  
                        <button id="generateBtn">Send</button>
                    </div>
                    <div class="loader" id="loader">Generating... 0.0s | tokens: 0</div>
                    <div id="analysis"></div>
                    <pre id="output"><code id="output-code" class="language-plaintext"></code></pre>
                </div>    
        </div>
        <script src="{% static 'prism/prism.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-javascript.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-typescript.min.js"></script>
        <script src="{% static 'mark/marked.min.js' %}"></script>
        <script src="{% static 'app.js' %}"></script>
    </body>
</html>